/*Mobile*/

html {background: linear-gradient(90deg, #4f3c59 0%, #000000 50%, #4f3c59 100%);
      background-color: #4f3c59;
      font-family: 'Poppins', sans-serif;
      cursor: default;
      font-weight: bold;
      transition: filter 3s;
      display: flex;}

@keyframes glow1 { 0% {box-shadow: 0px 0px 15px green; color: green;}
                   50% {box-shadow: 0px 0px 15px lime; color: lime;}
                   100% {box-shadow: 0px 0px 15px green; color: green;}
}

@keyframes glow2 { 0% {box-shadow: 0px 0px 15px #b38b11; color: #b38b11;}
                   50% {box-shadow: 0px 0px 15px yellow; color: yellow;}
                   100% {box-shadow: 0px 0px 15px #b38b11; color: #b38b11;}
}

@keyframes glow3 { 0% {box-shadow: 0px 0px 15px #b14848; color: #b14848;}
                   50% {box-shadow: 0px 0px 15px red; color: red;}
                   100% {box-shadow: 0px 0px 15px #b14848; color: #b14848;}
}

@keyframes glow4 { 0% {box-shadow: 0px 0px 15px #1390d8; color: #1390d8;}
                   50% {box-shadow: 0px 0px 15px cyan; color: cyan;}
                   100% {box-shadow: 0px 0px 15px #1390d8; color: #1390d8;}
}

@keyframes pulse1 {
    0%, 100% { box-shadow: 0 0 5px lime; }
    50% { box-shadow: 0 0 15px lime; }
}

@keyframes pulse2 {
    0%, 100% { box-shadow: 0 0 5px yellow; }
    50% { box-shadow: 0 0 15px yellow; }
}

@keyframes pulse3 {
    0%, 100% { box-shadow: 0 0 5px red; }
    50% { box-shadow: 0 0 15px red; }
}

@keyframes pulse4 {
    0%, 100% { box-shadow: 0 0 5px cyan; }
    50% { box-shadow: 0 0 15px cyan; }
}

body {margin: 0; 
      padding: 0;
      background-image: url(Imagens/Principal.png);
      background-size: 350px;
      background-position: top;
      background-repeat: no-repeat;}

.dropbtn {background-color: purple;
          color: white;
          padding: 5px;
          position: relative;
          top: 5px;
          font-size: 13px;
          font-weight: bold;
          box-shadow: 0px 2px 5px magenta, -2px 0px 5px purple;
          transition: background-color 0.3s, box-shadow 0.3s;
          border: outset 2px magenta;}

.dropdown {position: relative;
           display: inline-block;
           cursor: default;}

.dropdown-content {display: none;
                   position: absolute;
                   top: 33px;
                   background-color: purple;
                   min-width: 100px;
                   box-shadow: 0px 2px 5px magenta, -2px 0px 5px purple;
                   z-index: 1;}

.dropdown-content a {color: white;
                     padding: 1px 1px;
                     font-size: 13px;
                     font-weight: bold;
                     text-decoration: none;
                     border: solid 1px magenta;
                     display: block;
                     transition: background-color 0.3s, box-shadow 0.3s;}

.dropdown-content a:hover {background-color: #e7e7e7e7; color: purple; text-shadow: 0px 0px 10px white; transition: background-color 0.3s, box-shadow 0.3s;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #e7e7e7e7; color: purple; text-shadow: 0px 0px 10px white; transition: background-color 0.3s, box-shadow 0.3s;}

.Title {position: relative; top: 275px; 
        font-size: 20px; text-decoration: underline;
        color: white;
        text-shadow: 0px 0px 5px green, 0px 0px 10px lime, 0px 0px 15px lime;}

.Presentation {position: relative;
               top: 275px; 
               color: white;
               font-size: 15px; width: 250px;
               text-align: center;}

#a1 {color: lime; border: outset 2px lime; text-shadow: 0px 0px 5px black; background-color: #0153056a; width: 150px; border-radius: 50px;}
#a2 {color: yellow; border: outset 2px yellow; text-shadow: 0px 0px 5px black; background-color: #534f016a; width: 150px; border-radius: 50px;}
#a3 {color: red; border: outset 2px red; text-shadow: 0px 0px 5px black; background-color: #5302016a; width: 150px; border-radius: 50px;}
#a4 {color: cyan; border: outset 2px cyan; text-shadow: 0px 0px 5px black; background-color: #01534d6a; width: 150px; border-radius: 50px;} 

.Line_sus {box-shadow: 0px 0px 5px lime;
           background: linear-gradient(to right, transparent, lime, transparent);
           border: none;
           position: relative; top: 475px;
           height: 1px;
           animation: pulse1 2s infinite;}

.Title_sus {position: relative; top: 475px;
            font-size: 20px; 
            color: green;
            box-shadow: 0px 0px 15px green;
            text-shadow: 0px 0px 5px #286e3a;
            border-radius: 50%;
            border: outset 2px green;
            background: linear-gradient(to left, #286e3a, #000000);
            animation-name: glow1; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;}

.Image {position: relative; top: 475px; 
        height: 40%; width: 40%;
        box-shadow: 0px 0px 15px green;
        transition: animation 1s;
        border: outset 3px green; border-radius: 20%;}

.Image:hover {animation-name: glow1; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;}

.Text_sus {position: relative;
           top: 475px; font-size: 15px; width: 250px;
           color: white;
           text-align: center;}

.Line_edu {box-shadow: 0px 0px 5px yellow;
           background: linear-gradient(to right, transparent, yellow, transparent);
           border: none;
           position: relative; top: 575px;
           height: 1px;
           animation: pulse2 2s infinite;}

.Title_edu {position: relative; top: 575px; 
            font-size: 20px;
            color: #b38b11;
            box-shadow: 0px 0px 15px #b38b11;
            text-shadow: 0px 0px 5px #745e0c;
            border: outset 2px #b38b11;
            border-radius: 50%;
            background: linear-gradient(to left, #745e0c, #000000);
            animation-name: glow2; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;}

.Image2 {position: relative; top: 575px; 
         height: 40%; width: 40%;
         box-shadow: 0px 0px 15px #b38b11;
         border: outset 3px #b38b11; border-radius: 20%;}

.Image2:hover {animation-name: glow2; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;}

.Text_edu {position: relative;
           top: 575px; font-size: 15px; width: 250px;
           color: white;
           text-align: center;}

.Line_col {box-shadow: 0px 0px 5px red;
           background: linear-gradient(to right, transparent, red, transparent);
           border: none;
           position: relative; top: 675px;
           height: 1px;
           animation: pulse3 2s infinite;}

.Title_col {position: relative; top: 675px;
            font-size: 20px; 
            color: #b14848;
            box-shadow: 0px 0px 15px #b14848;
            text-shadow: 0px 0px 5px #831616;
            border: outset 2px #b14848;
            border-radius: 50%;
            background: linear-gradient(to left, #831616, #000000);
            animation-name: glow3; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;}

.Image3 {position: relative; top: 675px;
         height: 40%; width: 40%;
         box-shadow: 0px 0px 15px #b14848;
         border: outset 3px #b14848; border-radius: 20%;}

.Image3:hover {animation-name: glow3; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;}

.Text_col {position: relative;
           top: 675px; font-size: 15px; width: 250px;
           color: white;
           text-align: center;}

.Recommendations {position: relative;
                  top: 775px; font-size: 15px; width: 250px;
                  color: white;
                  text-align: center;}

.Text_movies {position: relative;
              top: 775px; font-size: 20px; width: 250px;
              text-align: center; text-decoration: underline;
              color: white; transition: color 0.3s, text-shadow 0.3s;}

.Text_movies:hover {color: blue; text-shadow: 0px 0px 5px teal; transition: color 0.3s, text-shadow 0.3s;}

.Movies {position: relative; top: 775px;
         height: 40%; width: 40%;
         color: white;
         box-shadow: 5px 5px 15px white;
         border: outset 3px white; border-radius: 20%;
         transition: color 0.3s, box-shadow 0.3s;}

.Movies:hover {border: outset 3px blue; box-shadow: 5px 5px 15px blue; transition: border 0.3s, box-shadow 0.3s;}

.Start_tech {position: relative;
             top: 775px; font-size: 15px; width: 250px;
             color: white;
             text-align: center;}

.Line_tech {box-shadow: 0px 0px 5px cyan;
            background: linear-gradient(to right, transparent, cyan, transparent);
            border: none;
            position: relative; top: 875px;
            height: 1px;
            animation: pulse4 2s infinite;}

.Title_tech {position: relative; top: 875px;
             font-size: 20px; color: #1390d8;
             box-shadow: 0px 0px 15px #1390d8;
             text-shadow: 0px 0px 5px #166d83;
             border: outset 2px #1390d8;
             border-radius: 50%;
             background: linear-gradient(to left, #166d83, #000000);
             animation-name: glow4; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;}

.Image4 {position: relative; top: 875px;
         height: 40%; width: 40%;
         box-shadow: 0px 0px 15px #1390d8;
         border: outset 3px #1390d8; border-radius: 20%;}

.Image4:hover {animation-name: glow4; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;}

.Text_tech {position: relative;
            top: 875px; font-size: 15px; width: 250px;
            color: white;
            text-align: center;}

#b1 {color: cyan;
     border: outset 2px cyan;
     text-shadow: 0px 0px 5px black;
     background-color: #01534d6a;
     padding: 10px;
     font-size: 20px;}

.Thanks {position: relative;
         top: 975px; font-size: 15px; width: 250px;
         color: white;
         text-align: center;}

.Info {position: relative;
       top: 1175px; font-size: 15px; width: 250px;
       color: white;
       text-align: center;}

/*Computador*/
@media screen and (min-width: 928px){
   .Title {top: 275px; font-size: 20px;}
   .Presentation {font-size: 15px; width: 500px; top: 275px;}
   .Line_sus {top: 375px;}
   .Title_sus {font-size: 20px; top: 375px;}
   .Image {top: 375px; width: 25%; height: 25%}
   .Text_sus {font-size: 15px; width: 500px; top: 375px;}
   .Line_edu {top: 475px;}
   .Title_edu {font-size: 20px; top: 475px;}
   .Image2 {top: 475px; width: 25%; height: 25%}
   .Text_edu {font-size: 15px; width: 500px; top: 475px;}
   .Line_col {top: 575px;}
   .Title_col {font-size: 20px; top: 575px;}
   .Image3 {top: 575px; width: 25%; height: 25%}
   .Text_col {font-size: 15px; width: 500px; top: 575px;}
   .Recommendations {font-size: 15px; width: 500px; top: 675px;}
   .Text_movies {font-size: 20px; width: 500px; top: 675px;}
   .Movies {top: 675px; width: 25%; height: 25%}
   .Start_tech {font-size: 15px; width: 500px; top: 775px;}
   .Line_tech {top: 875px;}
   .Title_tech {font-size: 20px; top: 875px;}
   .Image4 {top: 875px; width: 25%; height: 25%}
   .Text_tech {font-size: 15px; width: 500px; top: 875px}
   .Thanks {font-size: 15px; width: 500px; top: 875px;}
   .Info {font-size: 15px; width: 500px; top: 975px;}
   #b1 {font-size: 20px; border-radius: 50px;}
   #c1 {font-size: 25px;}
}