/*Tema Escuro*/

/*Início*/

/*Mobile*/
html {background: linear-gradient(to left top, #000000, #4f3c59);
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      display: flex;}

@keyframes glow1 { 0% {box-shadow: 0px 0px 15px green;}
                   50% {box-shadow: 0px 0px 15px lime;}
                   100% {box-shadow: 0px 0px 15px green;}
}

@keyframes glow2 { 0% {box-shadow: 0px 0px 15px #b38b11;}
                   50% {box-shadow: 0px 0px 15px yellow;}
                   100% {box-shadow: 0px 0px 15px #b38b11;}
}

@keyframes glow3 { 0% {box-shadow: 0px 0px 15px #831616;}
                   50% {box-shadow: 0px 0px 15px red;}
                   100% {box-shadow: 0px 0px 15px #831616;}
}

@keyframes glow4 { 0% {box-shadow: 0px 0px 15px #1390d8;}
                   50% {box-shadow: 0px 0px 15px cyan;}
                   100% {box-shadow: 0px 0px 15px #1390d8;}
}

body {margin: 0; padding: 0;
      background-image: url(Imagens/Principal.png);
      background-size: 65%;
      background-position: top;
      background-repeat: no-repeat;
}

a {text-decoration: none;}

svg {width: 10%; height: 10%;
     background: linear-gradient(to left, #286e3a, #e7e7e7e7);
     box-shadow: 0px 0px 15px green;
     border: solid 3px #e7e7e7e7;
     border-radius: 5px;
     z-index: 1;
     transition: background 0.3s, border 0.3s;
     animation-name: glow1; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;
}

svg:hover {background: white; border: solid 3px black; transition: background 0.3s, border 0.3s;}

.Tema_Escuro {color: #140d66;
}

.Linguagem {color:#000000;
}

.botao_superior {max-width: 100%;
                 position: relative; right: 25px;
}

.Titulo {position: relative; top: 275px; 
         font-size: 20px; text-decoration: underline;
         color: white;
         text-shadow: 0px 0px 15px lime;
}

.Apresentacao {position: relative;
               top: 275px; 
               font-size: 15px; width: 250px;
               text-align: center;
               color: #e7e7e7e7;
}

#a1 {color: lime;}
#a2 {color: yellow;}
#a3 {color: red;}
#a4 {color: cyan;}

.Titulo_sus {position: relative; top: 475px; 
             font-size: 20px; 
             color: green;
             box-shadow: 0px 0px 15px green;
             border: solid 2px;
             border-radius: 50%;
             background: linear-gradient(to left, #286e3a, #000000);
             animation-name: glow1; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;
}

.Imagem {position: relative; top: 475px; 
         height: 40%; width: 40%;
         box-shadow: 5px 5px 15px black;
         border: solid 3px; border-radius: 20%;
}

.Imagem:hover {animation-name: glow1; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;}

.Texto_sus {position: relative;
            top: 475px; font-size: 15px; width: 250px;
            text-align: center;
            color: #e7e7e7e7;
}

.Titulo_edu {position: relative; top: 575px; 
             font-size: 20px; color: #b38b11;
             box-shadow: 0px 0px 15px #b38b11;
             border: solid 2px;
             border-radius: 50%;
             background: linear-gradient(to left, #745e0c, #000000);
             animation-name: glow2; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;
}

.Imagem2 {position: relative; top: 575px; 
          height: 40%; width: 40%;
          box-shadow: 5px 5px 15px black;
          border: solid 3px; border-radius: 20%;
}

.Imagem2:hover {animation-name: glow2; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;}

.Texto_edu {position: relative;
            top: 575px; font-size: 15px; width: 250px;
            text-align: center;
            color: #e7e7e7e7;
}

.Titulo_col {position: relative; top: 675px;
             font-size: 20px; color: #b14848;
             box-shadow: 0px 0px 15px #831616;
             border: solid 2px;
             border-radius: 50%;
             background: linear-gradient(to left, #831616, #000000);
             animation-name: glow3; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;
}

.Imagem3 {position: relative; top: 675px;
          height: 40%; width: 40%;
          box-shadow: 5px 5px 15px black;
          border: solid 3px; border-radius: 20%;
}

.Imagem3:hover {animation-name: glow3; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;}

.Texto_col {position: relative;
            top: 675px; font-size: 15px; width: 250px;
            text-align: center;
            color: #e7e7e7e7;
}

.Recomendacoes {position: relative;
                top: 775px; font-size: 15px; width: 250px;
                text-align: center;
                color: #e7e7e7e7;
}

.Texto_filmes {position: relative;
               top: 775px; font-size: 20px; width: 250px;
               text-align: center; text-decoration: underline;
               color: white; transition: color 0.3s;
}

.Texto_filmes:hover {color: blue; transition: color 0.3s;}

.Filmes {position: relative; top: 775px;
         height: 40%; width: 40%;
         box-shadow: 5px 5px 15px black;
         border: solid 3px black; border-radius: 20%;
         transition: color 0.3s;
}

.Filmes:hover {border: solid 3px blue; transition: color 0.3s;}

.Inicio_tech {position: relative;
              top: 775px; font-size: 15px; width: 250px;
              text-align: center;
              color: #e7e7e7e7;
}

.Titulo_tech {position: relative; top: 875px;
              font-size: 20px; color: #1390d8;
              box-shadow: 0px 0px 15px #1390d8;
              border: solid 2px;
              border-radius: 50%;
              background: linear-gradient(to left, #166d83, #000000);
              animation-name: glow4; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;
}

.Imagem4 {position: relative; top: 875px;
          height: 40%; width: 40%;
          box-shadow: 5px 5px 15px black;
          border: solid 3px; border-radius: 20%;
}

.Imagem4:hover {animation-name: glow4; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;}

.Texto_tech {position: relative;
             top: 875px; font-size: 15px; width: 250px;
             text-align: center;
             color: #e7e7e7e7;
}

#b1 {color: cyan; text-decoration: underline;
     font-size: 20px;}

.Agradecimentos {position: relative;
                 top: 975px; font-size: 15px; width: 250px;
                 text-align: center;
                 color: #e7e7e7e7;
}

.Info {position: relative;
       top: 1175px; font-size: 15px; width: 250px;
       text-align: center;
       color: #e7e7e7e7;
}

/*Computador*/
@media screen and (min-width: 928px){
   html {height: 905%;}
   svg {height: 4%; width: 4%; position: fixed; left: 105px}
   .Tema_Escuro {height: 4%; width: 4%; position: fixed; left: 205px}
   .Titulo {top: 275px; font-size: 20px;}
   body {background-size: 25%;}
   .Apresentacao {font-size: 15px; width: 500px; top: 275px;}
   .Titulo_sus {font-size: 20px; top: 375px;}
   .Imagem {top: 375px; width: 25%; height: 25%}
   .Texto_sus {font-size: 15px; width: 500px; top: 375px;}
   .Titulo_edu {font-size: 20px; top: 475px;}
   .Imagem2 {top: 475px; width: 25%; height: 25%}
   .Texto_edu {font-size: 15px; width: 500px; top: 475px;}
   .Titulo_col {font-size: 20px; top: 575px;}
   .Imagem3 {top: 575px; width: 25%; height: 25%}
   .Texto_col {font-size: 15px; width: 500px; top: 575px;}
   .Recomendacoes {font-size: 15px; width: 500px; top: 675px;}
   .Texto_filmes {font-size: 20px; width: 500px; top: 675px;}
   .Filmes {top: 675px; width: 25%; height: 25%}
   .Inicio_tech {font-size: 15px; width: 500px; top: 775px;}
   .Titulo_tech {font-size: 20px; top: 875px;}
   .Imagem4 {top: 875px; width: 25%; height: 25%}
   .Texto_tech {font-size: 15px; width: 500px; top: 875px}
   .Agradecimentos {font-size: 15px; width: 500px; top: 875px;}
   .Info {font-size: 15px; width: 500px; top: 975px;}
   #b1 {font-size: 20px;}
   #c1 {font-size: 25px;}
}

/*Fim*/