/*Start*/

/*Mobile*/
html {background: linear-gradient(to left top, #e7e7e7e7, #4f3c59);
      font-family: 'Poppins', sans-serif;
      display: flex;}

@keyframes glow1 { 0% {box-shadow: 0px 0px 15px green;}
                   50% {box-shadow: 0px 0px 15px lime;}
                   100% {box-shadow: 0px 0px 15px green;}
}

@keyframes glow2 { 0% {box-shadow: 0px 0px 15px #b38b11;}
                   50% {box-shadow: 0px 0px 15px yellow;}
                   100% {box-shadow: 0px 0px 15px #b38b11;}
}

@keyframes glow3 { 0% {box-shadow: 0px 0px 15px #831616;}
                   50% {box-shadow: 0px 0px 15px red;}
                   100% {box-shadow: 0px 0px 15px #831616;}
}

@keyframes glow4 { 0% {box-shadow: 0px 0px 15px #1390d8;}
                   50% {box-shadow: 0px 0px 15px cyan;}
                   100% {box-shadow: 0px 0px 15px #1390d8;}
}

body {margin: 0; padding: 0;
      background-image: url(Imagens/Principal.png);
      background-size: 65%;
      background-position: top;
      background-repeat: no-repeat;
}

a {text-decoration: none;}

svg {width: 10%; height: 10%;
     background: linear-gradient(to left, #286e3a, #000000);
     box-shadow: 0px 0px 15px green;
     border: solid 3px black;
     border-radius: 5px;
     z-index: 1;
     transition: background 0.3s, border 0.3s;
     animation-name: glow1; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;
}

svg:hover {background: black; border: solid 3px white; transition: background 0.3s, border 0.3s;}

.Light_Theme {color:#b38b11;
}

.Language {color:#E7E7E7;
}

.superior_button {max-width: 100%;
                  position: relative; right: 25px;
}

.Title {position: relative; top: 275px; 
        font-size: 20px; text-decoration: underline;
}

.Presentation {position: relative;
               top: 275px; 
               font-size: 15px; width: 250px;
               text-align: center;
}

#a1 {color: lime;}
#a2 {color: yellow;}
#a3 {color: red;}
#a4 {color: cyan;}

.Title_sus {position: relative; top: 475px; 
            font-size: 20px; 
            color: green;
            box-shadow: 0px 0px 15px green;
            border: solid 2px;
            border-radius: 50%;
            background: linear-gradient(to left, #286e3a, #000000);
            animation-name: glow1; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;
}

.Image {position: relative; top: 475px; 
        height: 40%; width: 40%;
        box-shadow: 5px 5px 15px black;
        border: solid 3px; border-radius: 20%;
}

.Image:hover {animation-name: glow1; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;}

.Text_sus {position: relative;
           top: 475px; font-size: 15px; width: 250px;
           text-align: center;
}

.Title_edu {position: relative; top: 575px; 
            font-size: 20px; color: #b38b11;
            box-shadow: 0px 0px 15px #b38b11;
            border: solid 2px;
            border-radius: 50%;
            background: linear-gradient(to left, #745e0c, #000000);
            animation-name: glow2; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;
}

.Image2 {position: relative; top: 575px; 
         height: 40%; width: 40%;
         box-shadow: 5px 5px 15px black;
         border: solid 3px; border-radius: 20%;
}

.Image2:hover {animation-name: glow2; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;}

.Text_edu {position: relative;
           top: 575px; font-size: 15px; width: 250px;
           text-align: center;
}

.Title_col {position: relative; top: 675px;
            font-size: 20px; color: #b14848;
            box-shadow: 0px 0px 15px #831616;
            border: solid 2px;
            border-radius: 50%;
            background: linear-gradient(to left, #831616, #000000);
            animation-name: glow3; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;
}

.Image3 {position: relative; top: 675px;
         height: 40%; width: 40%;
         box-shadow: 5px 5px 15px black;
         border: solid 3px; border-radius: 20%;
}

.Image3:hover {animation-name: glow3; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;}

.Text_col {position: relative;
           top: 675px; font-size: 15px; width: 250px;
           text-align: center;
}

.Recommendations {position: relative;
                  top: 775px; font-size: 15px; width: 250px;
                  text-align: center;
}

.Text_movies {position: relative;
              top: 775px; font-size: 20px; width: 250px;
              color: black;
              text-align: center; text-decoration: underline;
              transition: color 0.3s;
}

.Text_movies:hover {color: blue; transition: color 0.3s;}

.Movies {position: relative; top: 775px;
         height: 40%; width: 40%;
         box-shadow: 5px 5px 15px black;
         border: solid 3px black; border-radius: 20%;
         transition: color 0.3s;
}

.Movies:hover {border: solid 3px blue; transition: color 0.3s;}

.Start_tech {position: relative;
             top: 775px; font-size: 15px; width: 250px;
             text-align: center;
}

.Title_tech {position: relative; top: 875px;
             font-size: 20px; color: #1390d8;
             box-shadow: 0px 0px 15px #1390d8;
             border: solid 2px;
             border-radius: 50%;
             background: linear-gradient(to left, #166d83, #000000);
             animation-name: glow4; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;
}

.Image4 {position: relative; top: 875px;
         height: 40%; width: 40%;
         box-shadow: 5px 5px 15px black;
         border: solid 3px; border-radius: 20%;
}

.Image4:hover {animation-name: glow4; animation-duration: 5s; animation-delay: 1.5; animation-iteration-count: infinite;}

.Text_tech {position: relative;
            top: 875px; font-size: 15px; width: 250px;
            text-align: center;
}

#b1 {color: cyan; text-decoration: underline;
     font-size: 20px;}

.Thanks {position: relative;
         top: 975px; font-size: 15px; width: 250px;
         text-align: center;
}

.Info {position: relative;
       top: 1175px; font-size: 15px; width: 250px;
       text-align: center;
}

/*Computer*/
@media screen and (min-width: 928px){
   html {height: 905%;}
   svg {height: 4%; width: 4%; position: fixed; left: 105px}
   .Light_Theme {height: 4%; width: 4%; position: fixed; left: 205px}
   .Title {top: 275px; font-size: 20px;}
   body {background-size: 25%;}
   .Presentation {font-size: 15px; width: 500px; top: 275px;}
   .Title_sus {font-size: 20px; top: 375px;}
   .Image {top: 375px; width: 25%; height: 25%}
   .Text_sus {font-size: 15px; width: 500px; top: 375px;}
   .Title_edu {font-size: 20px; top: 475px;}
   .Image2 {top: 475px; width: 25%; height: 25%}
   .Text_edu {font-size: 15px; width: 500px; top: 475px;}
   .Title_col {font-size: 20px; top: 575px;}
   .Image3 {top: 575px; width: 25%; height: 25%}
   .Text_col {font-size: 15px; width: 500px; top: 575px;}
   .Recommendations {font-size: 15px; width: 500px; top: 675px;}
   .Text_movies {font-size: 20px; width: 500px; top: 675px;}
   .Movies {top: 675px; width: 25%; height: 25%}
   .Start_tech {font-size: 15px; width: 500px; top: 775px;}
   .Title_tech {font-size: 20px; top: 875px;}
   .Image4 {top: 875px; width: 25%; height: 25%}
   .Text_tech {font-size: 15px; width: 500px; top: 875px}
   .Thanks {font-size: 15px; width: 500px; top: 875px;}
   .Info {font-size: 15px; width: 500px; top: 975px;}
   #b1 {font-size: 20px;}
   #c1 {font-size: 25px;}
}

/*End*/